<div class="jumbotron container" id="aboutme_div">
	<%= image_tag('avatar.jpg', id: 'about_ava', class: 'img-circle') %>
	<h1 class="welcome" style="background-color: white"> Hi, I'm Huy!</h1><br/>

	<p id="introduce">I design this blog to pratice my learning. 
	Besides, I love something colorful :v</p>
</div>
