@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 40px;
  padding-bottom: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100px;
  width: 100%;
  opacity: 0.95;
}

.back_pic{
	/* The image used */
    background: image-url('background.jpeg');
    height: 2500px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back_pic_about{
	/* The image used */
    background: image-url('background.jpeg');
    height: 900px;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: red;
  text-decoration: inherit;
}

#search_form {
	padding-left: 340px;
}
#search_text {
	opacity: 0.5;
	height: 30px;
	border-radius: 0px;
}
#search_text:hover {
	opacity: 1;
	height: 40px;
	border-color: white;
}
#search_button {
	border-radius: 0px;
	opacity: 0.3;
	width: 50px;
	height: 30px;
	background-color: brown;
	color: white;
	border: none;
}
#search_button:hover {
	opacity: 1;
}


#drop_show {
	background-color: gray;
	opacity: 0.9;
	width: 100px;
	height: 150px;
	position: absolute;
	display: none;
}

#drop_show div{
	height: 50px;
	width: 100px;
	text-align: center;
	padding-top: 15px;
	border-bottom: 1px solid;

}

.drop_text {
	color: black;
	font-weight: bold;
}

/*footer*/

.footer_img{
	width: 30px;
	height: 30px;
	opacity: 0.9;
}

#footer_div{
	padding-left: 500px;
}

.navbar-fixed-bottom{
	background-color: white;
}

#back_to_top {
    cursor: pointer;
    opacity: 0.8;
    display:none;
}

/*content*/

.welcome {
	text-align: center;
}
h4 {
	padding-left: 420px;
	color: brown;
}
#intro_div{
	margin-top: 100px;
	background: image-url('intro.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login_div{
	margin-top: 50px;
	display: none;
	position: absolute;
	height: 500px;
	background: image-url('welcome.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login_content{
	font-size: xx-large;

}

.login_content{
	text-align: center;
	background-color: #0d0d0d;
	height: 50px;
	margin-top: 50px;
	border-radius: 20px;

}
.edit {
	color:red;
}

#user_div{
	margin-top: 650px;
	display: none;
	position: absolute;
	height: 500px;
	background: image-url('userdiv.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img_user{
	width: 250px;
	height: 220px;
	margin-left: 400px;

}
#user_num{
	text-align: center;
	font-size: xx-large;
	color: white;
	font-weight: bolder;
}
#img_about{
	width: 250px;
	height: 220px;
	margin-left: 400px;

}

#about_div{
	margin-top: 1250px;
	position: absolute;
	height: 500px;
	display: none;
	background: image-url('aboutdiv.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutme{
	text-align: center;
	font-size: xx-large;
	color: red;
	font-weight: bolder;
	font-style: inherit;
}

/*about me page*/

#aboutme_div{
	margin-top: 200px;
	background: image-url('back2.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about_ava{
	width: 250px;
	height: 220px;
	margin-left: 400px;
}
#introduce{
	background-color: white;
	color: black;
	text-align: center;
	font-size: x-large;
}

/*signuppage*/
#signup_h1{
	text-align: center;

}

/* forms */

.form-control, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 50px;

}

input {
  height: auto !important;
}

#ava_img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .new_form {
    color: $state-danger-text;
  }
}

.form_div {
	margin-top: 70px;
}

.show_info_div {
	position: fixed;
	left: 35px;
	top: 200px;
	height: 300px;
	width: 200px;
	background-color: black;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px;
	opacity: 0.9;

}

.show_footer_div {
	position: fixed;
	right: 35px;
	top: 200px;
	height: 300px;
	width: 200px;
	background-color: black;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px;
	opacity: 0.8;

}

.show_ul {
	list-style-type: none;
	margin-right: 35px;
}
.show_ul li {
	margin-top: 15px;
}


.show_footer_img{
	width: 70px;
	height: 70px;
	opacity: 0.9;
}
#show_backtop {
	margin-top: 20px;
}

#show_name {
	font-size: large;
}
#show_num {
	font-size: large;
}
#show_follow {
	font-size: large;
}


.show_content_div {
	margin-top: 50px;
	height: 1000px;
	width: 100%;
	background-color: gray;
	border-radius: 20px;
	border: 10px solid;
	opacity: 0.9;
	padding: 20px;
}