<footer class="nav navbar-fixed-bottom">
	<div class="container">
		<nav>
			
				<div id="footer_div">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<%= link_to image_tag("avatar.jpg", alt: "Avatar", class: "img-circle footer_img"),
		            'https://www.facebook.com/giahuy.truong.773' %>
						</li>

						<li>
							<%= link_to image_tag("GitHub.png", alt: "Github", class: "img-circle footer_img"),
		            'https://github.com/huygia1997/Photo_Blog' %>
						</li>

						<li>
							<%= link_to image_tag("heroku.png", alt: "Heroku", class: "img-circle footer_img"),
		            'https://dashboard.heroku.com/apps/photo-blog-gx' %>
						</li>
					</ul>
				</div>	

				<div class="nav navbar-nav navbar-right">
					<a id="back_to_top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip">
						<span class="glyphicon glyphicon-chevron-up">
							
						</span>
					</a>
				</div>							
			
		</nav>
	</div>
	
</footer>